#This is where we show the results. 
<h1>Team Name: <%=@team.name%></h1>
<h1>Team Motto: <%=@team.motto%></h1>

<h2>Hero Name: <%=Hero.all.first.name%></h2>
<h2>Hero Power: <%=Hero.all.first.power%></h2>
<h2>Hero Biography: <%=Hero.all.first.bio%></h2>

<h2>Hero Name: <%=Hero.all[1].name%></h2>
<h2>Hero Power: <%=Hero.all[1].power%></h2>
<h2>Hero Biography: <%=Hero.all[1].bio%></h2>

<h2>Hero Name: <%=Hero.all.last.name%></h2>
<h2>Hero Power: <%=Hero.all.last.power%></h2>
<h2>Hero Biography: <%=Hero.all.last.bio%></h2>

